<div class="container">
  <h5>Enter your selections</h5>

  <div class="form">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Select Person</mat-label>
        <mat-select matInput [(ngModel)]="selectedPerson" name="person">
          <mat-option *ngFor="let person of people" [value]="person">{{ person.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Select Category</mat-label>
        <mat-select matInput [(ngModel)]="selectedCategory" name="category">
          <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matInput matStartDate [(ngModel)]="startDate" name="startDate" placeholder="Start date">
          <input matInput matEndDate [(ngModel)]="endDate" name="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  
    <button class="btn btn-primary" (click)="submitQuery()">Submit</button>
  </div>
  
  <!-- Submit button -->
  
  <div *ngIf="emptyResult">
    <h3 class="no-results">No results found</h3>
  </div>
  
  <div *ngIf="showTable">
    <table mat-table [dataSource]="queryResults" class="mat-elevation-z8">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column].value }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator 
      [pageSize]="pageSize < queryResultsLength ? pageSize : queryResultsLength" 
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="currentPage" 
      [length]="queryResultsLength" 
      (page)="handlePageEvent($event)"
      showFirstLastButtons>
    </mat-paginator>

  </div>

  <div class="charts" id="chartContainer"></div>

</div>
